<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hello!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>About Me</h1>
        <h2>ศักรินทร์ หาญชนะพล 61114440694</h2>
        <h2>สาขาวิทยาการคอมพิวเตอร์ คณะวิทยาศาสตร์</h2>
        <p><a href="index" class="btn btn-primary">กลับสู่หน้าหลัก</a></p>
        <p><a href="insert"  class="btn btn-primary">กรอกข้อมูล</a></p>
        
        <img src="https://scontent.fubp1-1.fna.fbcdn.net/v/t1.0-9/18341986_1375999832493699_3998487396857865325_n.jpg?_nc_cat=100&_nc_oc=AQklTlD-ZYowQNOe_1weVHttB1XTDs_WtKzr2eZLTjRwTwmzo46hft8-PZhMjoWRYkI&_nc_ht=scontent.fubp1-1.fna&oh=133a8a53532732e0c6c0614e9a5bb0f1&oe=5E59C047">
        <h5>ติดต่อได้ที่<a href="https://www.facebook.com/sakkarin.harnchanaphol">MyFaceBook</a></h5>
      </div>
    </div>

  </body>
</html>